<div class="row">
    <form class="col s12"
          #contactForm="ngForm"
          (ngSubmit)="submit(contactForm.form.value)">
        <div class="row">
            <div class="input-field col s4 form-group">
                <input id="first_name"
                       name="first_name"
                       type="text"
                       class="form-control validate" 
                       required
                       [(ngModel)]="model1.first_name"
                       #firstname="ngModel">
                <label for="first_name">Prénom</label>
                <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" 
                     class="alert alert-danger">
                    <div *ngIf="firstname.errors && firstname.errors['required']">
                        Le prénom est requis
                    </div>
                </div>
            </div>
            <div class="input-field col s4 form-group">
                <input id="last_name" 
                       name="last_name" 
                       type="text"                        
                       class="form-control validate"
                       required
                       [(ngModel)]="model1.last_name">
                <label for="last_name">Nom</label>                
            </div>
            <div class="input-field col s4 form-group">
                <input id="gender"
                       name="gender"
                       type="text"
                       class="form-control validate"
                       required
                       [(ngModel)]="model1.gender">
                <label for="gender">Genre</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4 form-group">
                <input id="email"
                       name="email"
                       type="email" 
                       required
                       class="form-control validate"
                       [(ngModel)]="model1.email">
                <label for="email">EMail</label>
            </div>          
            <div class="col s4 form-group">
                <label for="company" class="active">Compagnie</label>
                <select class="browser-default form-control validate"                 
                        id="company"
                        name="company"
                        type="text"                        
                        required
                        [(ngModel)]="model1.company">
                    <option value="" disabled selected>Choisir une compagnie</option>
                    <option *ngFor="let company of companies" 
                            [value]="company">{{company}}</option>
                </select>                
            </div>
            <button class="waves-effect waves-light btn" 
                    id="btn" 
                    type="submit"
                    [disabled]="!contactForm.form.valid">
                Ajouter contact
            </button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12 m4" *ngFor="let contact of models" [@contactsAnimation]="state">
        <div class="card blue-grey darken-1">
            <div class="card-image">
                <img src="http://images.pexels.com/photos/91227/pexels-photo-91227.jpeg">
                <span class="card-title">{{ contact.first_name }} {{ contact.last_name }}</span>
            </div>
            <div class="card-content white-text">
                <span class="card-title">Details</span>
                <p>Email: {{contact.email}}</p>
                <p>Genre: {{contact.gender}}</p>
            </div>
            <div class="card-action">
                <a href="#">{{ contact.company }}</a>
            </div>
        </div>
    </div>
</div>