<div [style.background-color]="background">
  <!-- <h1 [style.text-align]="textAlign" *ngIf="buttonState" [@headerAnimation]="headerState">{{ header }}</h1>
  <h1 [style.text-align]="textAlign" [@headerAnimation]="headerState">{{ header }}</h1>
  <div *ngIf="titre; then unTitre; else pasTitre">
    <h1 [style.text-align]="textAlign">Ne parait jamais</h1>
  </div>
  <h2 [style.text-align]="textAlign" *ngIf="titre">{{ titre }}</h2>
  
  <button (click)="animateHeader()" class="waves-effect waves-light btn">Animate!</button>

  <ng-template #unTitre>
     <h2 [style.text-align]="textAlign">{{ titre }}</h2>
  </ng-template>

  <ng-template #pasTitre>
    <h2 [style.text-align]="textAlign">Oh!Oh! pas de titre!</h2>
  </ng-template> -->

  <!-- <input #letters value="Manny Henri" (keyup)="0">
  <h3>{{letters.value}}</h3> -->

  <!-- <input #letters (keyup)="0">
       <h3 [class.parfait]="lettersCount('parfait')">{{letters.value.length}}</h3> 
       <h3 [ngClass]="letters.value.length > 15 ? 'trop' : 'parfait'">{{letters.value.length}}</h3> -->

  <!-- <ul [ngSwitch]="person">
    <li *ngSwitchCase="'Tatum'">Allo mon nom est Tatum</li>
    <li *ngSwitchCase="'Anet'">Allo mon nom est Anet</li>
    <li *ngSwitchCase="'Pippa'">Allo mon nom est Pippa</li>      
  </ul>

  <ul>
    <li *ngFor="let contact of contacts">
      <span>{{contact.first_name}} {{contact.last_name}}</span>
    </li>
  </ul> -->
  <app-header></app-header>  
  <app-contacts></app-contacts>  
</div>